@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

footer {
	background-color: white;
}

html, body {
	margin:0px;
	padding:0px;
	height:100%;
	/*font-family: 'Nanum Gothic', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	/* font-family: "Gill Sans", sans-serif; */
	
}
.contents-wrap {
	min-height:100%;
	width: 100%;
	position:relative;
	padding-bottom:100px; /* footer height */
}


p, li, a{
  font-size: 14px;
}

/* footer 맨 아래로 고정시키기 */
.footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;
	text-align: left;
	border-top: 2px solid;
	background-color: white;
}

.footer-container {
	margin: auto;
}
