@charset "UTF-8";

.card-list-best {
	background-color: #333;
	height: 580px;
}

.ct{
	padding: 3.5rem 3rem;
}

.mainName{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

#noticeTitle {
	color: red;
}

#noticeTitle:hover {
	color: red;
	text-decoration: none;	
}

.col-1, .col-2, .col-5 {
	text-align: center;
}

.freeBoard-title{
	justify-content: center;
    min-width: 460px;
    text-align: center;
}
.table{
	min-width: 760px;
}

td a {
    max-width: 380px;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-img-top {
	height: 17rem;
	object-fit: cover;
}
.card-img-top-best {
	height: 10rem;
	object-fit: cover;
}
.goBtn{
	text-align: center;
}
.card-body{
	padding: 1.5rem 1rem;
}