@charset "UTF-8";

.background1 {
	background-color: #333;
	height: 550px;
}

.small {
	width: 650px;
	padding-top: 40px;
    margin: 0px auto 25px auto;
    max-width: 940px;
}

.carousel-inner {
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}

.carousel-inner > .carousel-item {
	width: 100%;
	height: 450px !important;
}

.carousel-inner > .carousel-item img {
	height: 450px !important;
}

.carousel-inner > .carousel-item > .carousel-caption {
	background-color: rgba( 71, 66, 63, 0.7 );
}

.container {
	margin-top: 20px;
	
}