@charset "UTF-8";

/* 사진 */
.pic200 {
	width: 200px;
    height: 200px;
    margin: 10px;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}

.pic150 {
	width: 150px;
    height: 150px;
    margin: 10px;
    border-top: 4px;
    border-left: 4px;
    border-right: 4px;
    border-bottom: 4px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}

.pic100 {
	width: 100px;
    height: 100px;
    margin: 10px;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}

.pic40 {
	width: 40px;
    height: 40px;
    margin: 10px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}

.profilepic {
    width: 150px;
    height: 150px;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-color: rgb(173, 166, 146);
    border-style: solid;
    border-radius: 8px;
}


/* 방명록 */
.guestbook{
	margin-left: 5px;
	height: 50px;
	width: 835px;
}

.guestbookComment{
	width: 730px;
	margin: 5px 0px 0px 60px;
}

.guestbookCommentContent{
	margin-top: auto;
	margin-bottom: auto;
}

.guestbookCommentWrap {
	display: none;
}

.guestbookContent {
	margin-top: auto;
	margin-bottom: auto;
}

.guestbookSubmit {
	 width: 810px;
	 margin: 15px 0px 5px 15px;
}

.guestbookCommentSubmit {
	width: 650px;
	height: 30px;
	margin: 5px 10px 0px 70px;
}

.guestbookButton {
	 margin: auto 0px auto 3px;
	 color: rgb(179, 177, 178); 
}

.guestbookReply, .guestbookModify, .guestbookDelete, .guestbookCommentModify, .guestbookCommentDelete {
	margin: 5px 10px 0px 0px;
	font-size: 8px;
}

/* 회원정보 */
.memberInfo{
	margin: 80px 0px 40px;
}

.memberModify {
	margin-left: 25px; 
	color: gray; 
	margin-bottom: auto;
}

.memberModify:hover {
	color: gray;
	text-decoration: none;
}

/* 내 활동 */
.activeBox {
	margin: 20px 0px 20px;
}

.more {
	color: gray; 
	margin: auto 70px auto 0;
}

.more:hover{
	color: gray;
	text-decoration: none;
}

.activeBox h3 {
	margin-left: 15px;
}

.col-1, .col-2, .col-5 {
	text-align: center;
}