@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.pic100 {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}