@charset "UTF-8";

.container{
	margin: auto;
}

.get-title,.get-content{
	border: none;
	resize: none;
	outline: none;
	display: block;
	resize: none;
	outline: none;
	display: block;
}
.get-title {
	font-size: 35px;
	letter-spacing: -.4px;
	overflow: hidden;
	text-align: center;
	margin: auto;
	padding-top: 10px;
}

.get-group{
	width: 100%;
	line-height: 15px;
	margin: 35px auto 20px;
}

.get-group h2{
	text-align: center;
	max-width: 900px;
	word-wrap: break-word;
	margin: auto;
}

.get-group2{
	min-height: 130px;
	padding: 0 20px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.get-content{
	margin: 20px 30px;
}

.title-sub{
	margin-top: 10px;
	text-align: right;
	letter-spacing: -.4px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.title-sub a, .title-sub a:hover{
	text-decoration: none;
	color: inherit;
}

.tsub::before{
	content: '· ';
}

.get-buttons{
	padding:20px 17px 60px;
}

/* 댓글 css */
.reply-writer{
	padding: 0px 3px;
    font-weight: 600;
}

.reply_cnt{
	float: right;
	padding: 0px 12px;
	color: #B7B7B7;
}

.Reply{
	margin-top: 20px;
	padding: 0 15px;
}

.ReplyBox{
	margin-top: 12px;
	border: 2px solid rgba(0, 0, 0, .1);
	border-radius: 6px;
	padding: 16px 16px 10px 18px;
}
.ReplyBox textarea{
	border: none;
	resize: none;
	outline: none;
	display: block;
	width: 100%;
	line-height: 20px;
	letter-spacing: -.4px;
	overflow: hidden;
	padding-top: 15px;
}

#sendReply{
	float: right;
	margin-top: -35px;
	font-size: 15px;
	display: inline-block;
}

.reply-button-container{
	margin-top: -25px;
}
.reply-box{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 5px 0 10px;
}
