@charset "UTF-8";

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.table{
	min-width: 690px;
}

a{
  text-decoration: none;
}

/* GRID */
.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float:left;
	margin: 3% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination li{
  display: inline-block;
}

/* ONE */

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  color: #222;
  padding: 10px 15px;
}

.p1 a.active{
  background-color: #343a40;
  border-radius: 100%;
  color: #fff;
}

.table-active, .table-active>td, .table-active>th {
    background-color: rgba(0,0,0,0.05);
}

table thead tr th, table tbody tr td{
	text-align: center;
}


td a {
	max-width: 420px;
	display: block;
  	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
}
