@charset "UTF-8";

.container{
	margin: 30px auto;
}
.post-title {
	border: none;
	font-size: 25px;
	resize: none;
	outline: none;
	display: block;
	width: 100%;
	line-height: 20px;
	letter-spacing: -.4px;
	overflow: hidden;
	padding-top: 15px;
}
.note-editor{
	margin: 10px auto;
}
.post-group{
	width: 100%;
}
.post-group2{
}
.post{
	position: absolute;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* main styles */
.switch {
  width: 24rem;
  position: relative;
  margin: 4rem auto;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #222;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 50%;
  border-radius: 2rem;
  padding: 0rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #222;
  position: absolute;
  transition: 0.25s ease all;
  max-width: 43%;
  max-height: 100%;
}
.switch--horizontal {
  width: 18rem;
  height: 3rem;
  margin: 20px 111px -10px -5px;
  font-size: 0;
  vertical-align: center;
}
.switch--horizontal input {
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
.switch--horizontal label {
  font-size: 15px;
  line-height: 1.5rem;
  display: inline-block;
  width: 5.8rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 2rem;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3.5rem;
  left: 5rem;
  outline: 2px solid #999;
}
.switch--horizontal .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2rem;
}
#radio-b:checked ~ .toggle-outside {
  background-color: #999;
}
#post_cnt{
	margin-top: -25px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
input::placeholder{
	vertical-align: middle;
}
