<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.homeart.mapper.homeart.masterpiece.BoardMapper">
	<select id="selectByMemberId" resultType="int">
	SELECT id FROM Board WHERE writer = #{memberId}
	</select>

	<delete id="deleteByMemberId">
	DELETE FROM Board WHERE writer = #{memberId}
	</delete>


	<select id="getCountRows" resultType="int">
	SELECT COUNT(*) FROM Board
	</select>

	<select id="getListPage" resultType="com.homeart.domain.homeart.masterpiece.BoardVO">
SELECT 
    b.id,
    b.title,
    b.content,
    b.writer,
    b.inserted,
    b.updated,
    m.nickName,
    COUNT(r.id) replyCount,
    (SELECT EXISTS (SELECT * FROM File WHERE boardId = b.id)) hasFile
FROM
    Board b
        JOIN
    Member m ON b.writer = m.id
    	LEFT JOIN
    Reply r ON b.id = r.boardId
GROUP BY b.id
ORDER BY b.id DESC
LIMIT #{from}, #{items}
	</select>

	<select id="getList" resultType="com.homeart.domain.homeart.masterpiece.BoardVO">
SELECT 
    b.id,
    b.title,
    b.content,
    b.writer,
    b.inserted,
    b.updated,
    m.nickName
FROM
    Board b
        JOIN
    Member m ON b.writer = m.id
ORDER BY id DESC
	</select>
	<select id="read" resultType="com.homeart.domain.homeart.masterpiece.BoardVO">
SELECT 
    b.id,
    b.title,
    b.content,
    b.writer,
    b.inserted,
    b.updated,
    m.nickName
FROM
    Board b
        JOIN
    Member m ON b.writer = m.id
WHERE
	b.id = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO
		Board (title, content, writer)
	VALUES
		(#{title}, #{content}, #{writer})
		
	</insert>
	
	<update id="update">
	UPDATE
		Board
	SET
		title = #{title},
		content = #{content},
		writer = #{writer},
		updated = NOW()
	WHERE
		id = #{id}
	</update>
	
	<delete id="delete">
	DELETE FROM Board WHERE id = #{id}
	</delete>
</mapper>













