<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeart.mapper.homeart.masterpiece.DiscussionMapper">
	<delete id="deleteByMemberId">
	DELETE FROM Reply WHERE memberId = #{memberId}
	</delete>

	<delete id="deleteByBoardId">
	DELETE FROM Reply WHERE boardId = #{boardId}
	</delete>

	<delete id="delete">
	DELETE FROM Reply WHERE id = #{id}
	</delete>

	<update id="update">
	UPDATE Reply
	SET
		reply = #{reply},
		updated = NOW()
	WHERE
		id = #{id}
	
	</update>

	<select id="selectById" resultType="com.homeart.domain.homeart.masterpiece.DiscussionVO">
	SELECT id, boardId, memberId, reply, inserted, updated
	FROM Reply
	WHERE id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO Reply (boardId, memberId, reply)
	VALUES (#{boardId}, #{memberId}, #{reply})
	</insert>

	<select id="list" resultType="com.homeart.domain.homeart.masterpiece.DiscussionVO">
	SELECT
		r.id,
		r.boardId,
		r.memberId,
		r.reply,
		r.inserted,
		r.updated,
		m.nickName
	FROM 
		Reply r JOIN Member m ON r.memberId = m.id
	WHERE
		r.boardId = #{boardId}
	ORDER BY 
		r.id DESC
	
	</select>

</mapper>