<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeart.mapper.freeBoard.freeBoardMapper">

	<select id="getAdminList" resultType="com.homeart.domain.freeBoard.freeBoardVO">
		SELECT
			b.board_id,
			b.title,
			b.writer,
			b.inserted,
			b.updated,
            b.viewCount,
            b.isPublic,
			m.nickName,
			m.isAdmin
		FROM
			freeBoard b 
				JOIN 
			Member m ON b.writer = m.member_id
		WHERE
			m.isAdmin = 1
		ORDER BY
			board_id DESC
	</select>
	<select id="getList" resultType="com.homeart.domain.freeBoard.freeBoardVO">
		SELECT
			b.board_id,
			b.title,
			b.writer,
			b.inserted,
			b.updated,
            b.viewCount,
            b.isPublic,
			m.nickName,
			m.isAdmin
		FROM
			freeBoard b 
				JOIN 
			Member m ON b.writer = m.member_id
		WHERE
			m.isAdmin = 0
		GROUP BY b.board_id
		ORDER BY b.board_id DESC
		LIMIT #{from}, #{items}
	</select>
	
	<select id="countBoard" resultType="int">
		SELECT
            COUNT(CASE WHEN m.isAdmin=0 THEN 1 END) countBoard
		FROM
			freeBoard b 
				JOIN 
			Member m ON b.writer = m.member_id
	</select>
	
	<select id="read" resultType="com.homeart.domain.freeBoard.freeBoardVO">
		SELECT
			b.board_id,
			b.title,
			b.content,
			b.writer,
			b.inserted,
			b.updated,
			m.nickName
		FROM
			freeBoard b 
				JOIN 
			Member m ON b.writer = m.member_id
		WHERE b.board_id = #{board_id};
	</select>
		
	<insert id="insert">
		INSERT INTO
			freeBoard (title, content, isPublic, writer)
		VALUES
			(#{title}, #{content}, #{isPublic}, #{writer})
	</insert>
	
	<update id="update">
		UPDATE
			freeBoard
		SET
			title = #{title},
			content = #{content},
			isPublic = #{isPublic},
			updated = NOW()
		WHERE
			board_id = #{board_id}
	</update>
	
	<delete id="delete">
	 	DELETE FROM freeBoard WHERE board_id = #{board_id}
	</delete>
</mapper>