<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homeart.mapper.admin.AdminPicMapper">
 
<select id="getList" resultType="com.homeart.domain.admin.AdminPicVO">
	SELECT masterpiece_id, title, content, member_id, country, artist, age, file_name 
	FROM masterpiece
	WHERE member_id LIKE CONCAT('%', #{keyword}, '%')
	ORDER BY masterpiece_id DESC
	LIMIT #{from}, #{numberPerPage}
</select> 

<select id="getCountRows" resultType="int">
	SELECT COUNT(*) FROM masterpiece m
	WHERE m.member_id LIKE CONCAT('%', #{keyword}, '%')
</select>
 
<select id="read" resultType="com.homeart.domain.admin.AdminPicVO">
	SELECT masterpiece_id, title, member_id, content, file_name
	FROM masterpiece
	WHERE masterpiece_id = #{masterpiece_id}
</select>

<delete id="delete">
	DELETE FROM masterpiece WHERE masterpiece_id = #{masterpiece_id}
</delete>

</mapper>