<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.homeart.mapper.member.GuestbookMapper">
 	<insert id="insert">
 	INSERT INTO mypage_guestbook (guestbook_id, member_id, content, mypage_owner)
 	VALUE ({#guestbook_id}, #{member_id}, #{content}, #{mypage_owner})
 	</insert>
 	
 	<select id="list" resultType="com.homeart.domain.member.GuestbookVO">
 	SELECT *
 	FROM mypage_guestbook
 	WHERE mypage_owner = #{mypage_owner}
 	ORDER BY guestbook_id DESC
 	</select>
 	
 	<delete id="delete">
 	DELETE FROM mypage_guestbook
 	WHERE guestbook_id = #{gusetbook_id}
 	</delete>
 	
 	<insert id="insertComment">
 	INSERT INTO mypage_guestbook_comment (guestbook_comment_id, member_id, guestbook_id, content)
 	VALUE (#{guestbook_comment_id}, #{member_id}, #{guestbook_id}, #{content})
 	</insert>
 	
 	<select id="listComment" resultType="com.homeart.domain.member.GuestbookCommentVO">
 	SELECT *
 	FROM mypage_guestbook_comment
 	WHERE guestbook_id = #{guestbook_id}
 	ORDER BY guestbook_comment_id
 	</select>
 	
 	<delete id="deleteComment">
 	DELETE FROM mypage_guestbook_comment
 	WHERE guestbook_comment_id = #{guestbook_comment_id}
 	</delete>
 	
 	<select id="listCommentByGuestbookId" resultType="com.homeart.domain.member.GuestbookCommentVO">
 	SELECT c.guestbook_comment_id, c.member_id, c.guestbook_id, c.content
	FROM mypage_guestbook_comment c JOIN mypage_guestbook g ON c.guestbook_id = g.guestbook_id
	WHERE c.guestbook_id = #{guestbook_id}
	ORDER BY c.guestbook_comment_id;
 	</select>
 </mapper>