<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.homeart.mapper.member.MemberMapper">
	<insert id="insert">
	INSERT INTO Member (member_id, member_name, password, nickName, email, country)
	VALUE (#{member_id}, #{member_name}, #{password}, #{nickName}, #{email}, #{country})
	</insert>
	
	<select id="select" resultType="com.homeart.domain.member.MemberVO">
 	SELECT member_id, member_name, password, nickName, email, country, isAdmin
 	FROM Member
 	WHERE member_id = #{member_id}
 	</select>
 	
 	<update id="update">
 	UPDATE Member
 	SET member_name = #{member_name},
 		password = #{password},
 		nickName = #{nickName},
 		email = #{email},
 		country = #{country}
 	WHERE
 		member_id = #{member_id}
 	</update>  	
 	
 	<delete id="delete">
 	DELETE FROM Member
 	WHERE member_id = #{member_id}
 	</delete>
 	
 	<select id="list" resultType="com.homeart.domain.member.MemberVO">
	SELECT 
	    member_id,
	    member_name,
	    password,
	    nickName,
	    email,
	    country,
	    inserted,
	    isAdmin
	FROM
	    Member
	ORDER BY inserted DESC
 	</select>
 	
 	<select id="selectByNickName" resultType="com.homeart.domain.member.MemberVO">
	SELECT member_id, member_name, password, email, country, inserted, isAdmin
	FROM Member
	WHERE nickName = #{nickName}
	</select>

	<select id="selectNotice" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT
			b.*,
			m.nickName,
			m.isAdmin,
			COUNT(r.id) replyCount,
			(SELECT EXISTS(SELECT * FROM FreeBoardFile WHERE fileId = b.board_id)) hasFile
		FROM
			freeBoard b 
				JOIN 
			Member m ON b.writer = m.member_id
				LEFT JOIN
			FreeBoardReply r ON b.board_id = r.board_id
		WHERE
			m.isAdmin = 1
		GROUP BY b.board_id
		ORDER BY b.board_id DESC
	</select>
		
	<select id="selectWriting" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT * 
	FROM freeBoard 
	WHERE writer = #{member_id}
	ORDER BY inserted DESC
	</select>
	
	<select id="selectWritingLimit5" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT * 
	FROM freeBoard 
	WHERE writer = #{member_id}
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
	<select id="selectPicture" resultType="com.homeart.domain.picShare.picBoardVO">
	SELECT * 
	FROM picBoard 
	WHERE writer = #{member_id} 
	ORDER BY inserted DESC
	</select>
		
	<select id="selectPictureLimit5" resultType="com.homeart.domain.picShare.picBoardVO">
	SELECT * 
	FROM picBoard 
	WHERE writer = #{member_id} 
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
	<select id="selectReply" resultType="com.homeart.domain.mypage.replyVO">
	SELECT 
	    r.*, f.title
	FROM
	    FreeBoardReply r
	        JOIN
	    freeBoard f
	WHERE
	    r.member_id = #{member_id}
	        AND r.board_id = f.board_id
	ORDER BY r.inserted DESC;
	</select>
	
	<select id="selectReplyLimit5" resultType="com.homeart.domain.freeBoard.FreeBoardReplyVO">
	SELECT *
	FROM FreeBoardReply
	WHERE member_id = #{member_id}
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
	<select id="selectLikePicture" resultType="com.homeart.domain.mypage.likeListVO">
	SELECT 
	    b.board_id AS board_id,
	    b.file_name AS file_name,
	    l.pic AS board
	FROM
	    picBoardLike l
	        JOIN
	    picBoard b
	WHERE
	    l.board_id = b.board_id
	        AND l.member_id = #{member_id}
	ORDER BY board
	</select>
	
	<select id="selectLikeMasterpiece" resultType="com.homeart.domain.mypage.likeListVO">
	SELECT 
	    b.masterpiece_id AS board_id,
	    b.file_name AS file_name,
	    l.master AS board
	FROM
	    likeTable l
	        JOIN
	    masterpiece b
	WHERE
	    l.masterpiece_id = b.masterpiece_id
	        AND l.member_id = #{member_id}
	ORDER BY board
	</select>
	
	<select id="selectLikeLimit5" resultType="com.homeart.domain.mypage.likeListVO">
	SELECT 
	    b.board_id AS board_id,
	    b.file_name AS file_name,
	    l.pic AS board
	FROM
	    picBoardLike l
	        JOIN
	    picBoard b
	WHERE
	    l.board_id = b.board_id
	        AND l.member_id = #{member_id} 
	UNION (SELECT 
	    b.masterpiece_id AS board_id,
	    b.file_name AS file_name,
	    l.master AS board
	FROM
	    likeTable l
	        JOIN
	    masterpiece b
	WHERE
	    l.masterpiece_id = b.masterpiece_id
	        AND l.member_id = #{member_id} )
	ORDER BY RAND()
	LIMIT 0, 5
	</select>
	
 </mapper>