<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.homeart.mapper.member.MemberMapper">
	<insert id="insert">
	INSERT INTO Member (member_id, member_name, password, nickName, email, country)
	VALUE (#{member_id}, #{member_name}, #{password}, #{nickName}, #{email}, #{country})
	</insert>
	
	<select id="select" resultType="com.homeart.domain.member.MemberVO">
 	SELECT member_id, member_name, password, nickName, email, country, isAdmin
 	FROM Member
 	WHERE member_id = #{member_id}
 	</select>
 	
 	<update id="update">
 	UPDATE Member
 	SET member_name = #{member_name},
 		password = #{password},
 		nickName = #{nickName},
 		email = #{email},
 		country = #{country}
 	WHERE
 		member_id = #{member_id}
 	</update>  	
 	
 	<delete id="delete">
 	DELETE FROM Member
 	WHERE member_id = #{member_id}
 	</delete>
 	
 	<select id="list" resultType="com.homeart.domain.member.MemberVO">
	SELECT 
	    member_id,
	    member_name,
	    password,
	    nickName,
	    email,
	    country,
	    inserted,
	    isAdmin
	FROM
	    Member
	ORDER BY inserted DESC
 	</select>
 	
 	<select id="selectByNickName" resultType="com.homeart.domain.member.MemberVO">
	SELECT member_id, member_name, password, email, country, inserted, isAdmin
	FROM Member
	WHERE nickName = #{nickName}
	</select>

	<select id="selectNotice" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT 
	    f.*, m.nickName
	FROM
	    freeBoard f
	        JOIN
	    Member m
	WHERE
	    f.writer = m.member_id AND m.isAdmin = 1
	ORDER BY f.inserted DESC;
	</select>
		
	<select id="selectWriting" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT * 
	FROM freeBoard 
	WHERE writer = #{member_id}
	ORDER BY inserted DESC
	</select>
	
	<select id="selectWritingLimit5" resultType="com.homeart.domain.freeBoard.freeBoardVO">
	SELECT * 
	FROM freeBoard 
	WHERE writer = #{member_id}
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
	<select id="selectPicture" resultType="com.homeart.domain.picShare.picBoardVO">
	SELECT * 
	FROM picBoard 
	WHERE writer = #{member_id} 
	ORDER BY inserted DESC
	</select>
		
	<select id="selectPictureLimit5" resultType="com.homeart.domain.picShare.picBoardVO">
	SELECT * 
	FROM picBoard 
	WHERE writer = #{member_id} 
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
	<select id="selectReply" resultType="com.homeart.domain.mypage.replyVO">
	SELECT 
	    r.*, f.title
	FROM
	    FreeBoardReply r
	        JOIN
	    freeBoard f
	WHERE
	    r.member_id = #{member_id}
	        AND r.board_id = f.board_id
	ORDER BY r.inserted DESC;
	</select>
	
	<select id="selectReplyLimit5" resultType="com.homeart.domain.freeBoard.FreeBoardReplyVO">
	SELECT *
	FROM FreeBoardReply
	WHERE member_id = #{member_id}
	ORDER BY inserted DESC
	LIMIT 0, 5
	</select>
	
 </mapper>